.catalog-item {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  
  @include media(lg) {
    align-items: center;
  }

  @include media(md) {
   
  }

  @include media(sm) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    background-color: $graphite-gray;
    border-radius: 16px;
  }
 
  + .catalog-item {
    padding: 22px 0;
    border-top: 1px solid $border-2;

    @include media(sm) {
      padding: 16px;
      border-top: 0;
      margin-top: 16px;
    }
  }

  &__main {
    width: 60%;
    margin-right: 36px;

    @include media(md) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 24px;
    }

    @include media(sm) {
      margin-bottom: 16px;
      width: 100%;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 10px;
    padding: 1.5px 0;

    

    @include media(sm-575) {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    max-width: 440px;
    width: 100%;

    @include media(xl) {
      width: 50%;
    }

    // @include media(lg) {
    //   width: auto;
    // }


    @include media(md) {
      max-width: 100%;
      justify-content: flex-end;
      padding-top: 0;
    }

    @include media(sm) {
      flex-wrap: wrap;
      justify-content: flex-start;

      width: 100%;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__status {
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 6px;
    color: $aqua-500;
    border: 1px solid $aqua-500;
    border-radius: 6px;

    &.is-green {
      color: $green;
      border-color: $green;
    }

    &.is-red {
      color: $red;
      border-color: $red;
    }
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33;
    color: $dark-900;

    @include media(sm) {
      font-size: 16px;
    }
  }

  &__articul {
    font-size: 13px;
    line-height: 1;
  }

  &__desc {
    font-size: 13px;
    line-height: 1.38;
    color: $grey-500;
    margin-top: 10px;
  }

  &__amount {
    margin-right: 24px;

    @include media(md) {
      .amount-item {
        display: block;
      }
    }

    @include media(sm) {
      width: 100%;
      max-width: 100%;
      margin-right: 0;

      .amount-item {
        display: flex;
      }
    }
  }

  &__action {
    display: flex;
    align-items: center;

    @include media(sm-575) {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    @include media(xl) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 16px;
    }

    @include media(sm)  {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__price {
    margin-right: 36px;

    @include media(md) {
      margin: 0 36px 0 auto;
    }

    @include media(sm) {
      margin: 0 auto 0 0;
    }

    @include media(xs) {
      width: 100%;
    }

    &-total {
      padding: 2px 8px;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px; /* 100% */
      color: $dark-900;
    }

    &-one {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 1;
      padding: 4px 8px;
      color: $grey-500;
    }
  }

  &__add {
    width: 48px;
    height: 48px;
    background-color: $graphite-gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    flex-shrink: 0;
    cursor: pointer;
    color: $primary;

    @include media(sm) {
      order: 10;
      background-color: $white;
    }

    &.is-added {
      background-color: #E6FCE8;
      color: #0A8A17;
    }
  }

  &__fav {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    cursor: pointer;

    &.is-active {

      svg path {
        stroke: transparent;
        fill: $yellow;
      }
    }

    svg {
      path {
        stroke: #6B7A99;
      }
    }

    @include media(xs)  {
      margin: 0 0 0 auto;
    }
  }
}

