.article {
  .container {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @include media(md) {
      display: block;
    }
  }

  &-main {
    width: 70%;
    border-radius: 36px;
    background: $white;
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.05);
    margin-right: 24px;
    padding: 36px;

    @include media(xl) {
      margin-right: 30px;
    }

    @include media(lg) {
      padding: 24px;
    }

    @include media(md)  {
      width: 100%;
      margin-bottom: 16px;
    }

    @include media(sm) {
      border-radius: 24px;
    }

    @include media(sm-575) {
      padding: 24px 16px;
    }

    @include media(xs) {
      padding: 16px;
    }
  }

  &-others {
    width: 30%;

    @include media(md)  {
      width: 100%;
    }
  }

  &__date {
    display: inline-block;
    width: auto;
    border-radius: 6px;
    border: 1px solid $aqua-500;
    color: $aqua-500;
    font-size: 10px;
    font-weight: 800;
    line-height: 10px; /* 100% */
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-bottom: 12px;
  }

  h1 {
    margin: 16px 0 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $graphite-gray;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px; /* 129.412% */

    @include media(sm) {
      font-size: 24px;
      margin-bottom: 16px 0;
      padding-bottom: 16px;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px; /* 150% */
    text-transform: uppercase;
    margin: 24px 0;

    @include media(sm)  {
      font-size: 20px;
      margin: 24px 0 16px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px; /* 150% */
    text-transform: uppercase;
    margin: 24px 0;

    @include media(sm)  {
      margin: 24px 0 16px;
      font-size: 18px;
    }
  }

  h4 {
    font-size: 18px;
    font-weight: 800;
    line-height: 30px; /* 166.667% */
    text-transform: uppercase;
    margin: 8px 0 16px;

    @include media(sm)  {
      margin: 20px 0 12px;
      font-size: 16px;
    }
  }

  h5 {
    font-size: 16px;
    font-weight: 800;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
    margin: 8px 0 16px;

    @include media(sm) {
      margin: 20px 0 12px;
      font-size: 14px;
    }
  }

  h6 {
    font-size: 16px;
    font-weight: 800;
    line-height: 26px; /* 162.5% */
    text-transform: uppercase;
    margin: 8px 0 16px;

    @include media(sm) {
      margin: 20px 0 12px;
      font-size: 12px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin: 16px 0;

    a {
      color: $aqua-500;
    }

    @include media(sm)  {
      margin: 12px 0;
    }
  }

  img {
    display: block;
    margin: 16px 0 36px;
    border-radius: 36px;

    @include media(sm)  {
      margin: 12px 0 24px;
      border-radius: 24px;
    }
  }

  ol {
    counter-reset: list;
    margin-bottom: 16px 0;
    padding-left: 16px;

    li {
      position: relative;
      counter-increment: list;
      margin-bottom: 12px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding-left: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: counter(list) ".";
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  ul {
    margin-bottom: 16px 0;
    padding-left: 16px;

    li {
      position: relative;

      margin-bottom: 12px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      padding-left: 16px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 6px;
        height: 6px;
        background-color: currentColor;
        border-radius: 50%;
        top: 10px;
      }
    }
  }
}

.article-others {
  &__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    margin-bottom: 16px;
    padding: 12px 24px;
    padding-right: 68px;
    border-radius: 24px;
    background: $aqua-50;
  }
}

.article-item {
  padding: 24px;
  border-radius: 24px;
  background-color: $white;
  margin-bottom: 16px;
  position: relative;
  padding-right: 68px;

  @include media(lg) {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @include media(md) {
    padding: 24px  68px 16px 24px;
  }

  &__date {
    display: inline-block;
    width: auto;
    border-radius: 6px;
    border: 1px solid $aqua-500;
    color: $aqua-500;
    font-size: 10px;
    font-weight: 800;
    line-height: 10px; /* 100% */
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 7px;
    margin-bottom: 16px;
  }

  &__icon {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: $midnight-blue;
    color: $primary;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media(lg) {
      position: static;
      margin: 8px 0 0 auto;
    }

    @include media(md) {
      position: absolute;
      bottom: 16px;
      right: 24px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px; /* 120% */
    margin-bottom: 16px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    color: $grey-500;
  }
}
