.cabinet {
  padding: 8px 0 60px;

  @include media(sm) {
    padding-bottom: 36px;
  }

  &-wrapper {
    border-radius: 36px;
    background: $white;
    padding: 16px;
    box-shadow: 0px 1px 24px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    @include media(lg) {
      display: block;
      border-radius: 24px;
      padding: 16px 24px;
    }

    @include media(sm-575) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &-nav {
    max-width: 340px;
    width: 100%;
    margin-right: 30px;
    border-radius: 24px;

    overflow: hidden;

    @include media(lg) {
      max-width: initial;
      display: flex;
      align-items: center;
      margin: 0 0 30px 0;
    }

    @include media(sm) {
      gap: 16px;
      overflow-x: auto;
      width: calc(100% + 32px);
      margin: 0 -16px 30px;
      padding: 0 16px;
      border-radius: 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__item {
      width: 100%;
      padding: 24px;
      line-height: 1;
      color: $white;
      background: $primary;
      cursor: pointer;

      @include media(lg) {
        text-align: center;
      }

      @include media(sm) {
        padding: 17px;
        border-radius: 24px;
        min-width: 223px;
      }

      &.is-active {
        background-color: #314a80;
      }
    }
  }

  &-main {
    width: 100%;
  }

  &-section {
    + .cabinet-section {
      margin-top: 16px;
    }
  }

  .form-btn {
    display: block;
    max-width: 270px;
    width: 100%;
    margin: 16px auto 0;
    font-weight: 800;
  }
}

.form-group {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form-btn {
  display: block;
  max-width: 240px;
  width: 100%;
  margin: 24px auto 0;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 24px;

  .form-group {
    margin: 0;
  }

  @include media(sm) {
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px 0 8px;
  }
}

.cabinet-order {
  &__item {
    padding: 16px 24px 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $graphite-gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "top top"
      "amount price"
      "list list";

    @include media(sm) {
      padding-left: 0;
      padding-right: 0;
      grid-template-columns: 100%;
      grid-template-areas:
        "top"
        "amount"
        "list"
        "price";
    }

    &.is-ended {
      .cabinet-order__item-date {
        background-color: $midnight-blue-350;
      }
    }

    &-top {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 12px;
      grid-area: top;

      @include media(sm) {
        margin-bottom: 15px;
      }

      @include media(xs) {
        flex-direction: column;
        align-items: flex-start;
        gap: 14px;
      }
    }

    &-num {
      font-size: 13px;
      font-weight: 500;
      line-height: 13px; /* 100% */
    }

    &-main {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 12px;
    }

    &-date {
      padding: 8px 12px;
      border-radius: 24px;
      text-align: center;
      color: $white;
      font-weight: 700;
      background-color: $aqua-500;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px; /* 100% */
    }

    &-amount {
      font-size: 18px;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      grid-area: amount;
    }

    &-price {
      font-size: 20px;
      font-weight: 700;
      line-height: 20px; /* 100% */
      grid-area: price;
      text-align: right;

      @include media(sm) {
        text-align: left;
        padding: 16px 0;
        margin-top: 10px;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px 20px;
      max-width: 700px;
      margin-bottom: 8px;
      grid-area: list;
      margin-top: 12px;

      @include media(md) {
        max-width: 446px;
      }

      @include media(sm) {
        margin-top: 15px;
      }
    }

    &-el {
      font-size: 13px;
      font-weight: 700;
      line-height: 18px; /* 138.462% */
      color: $gray-550;
    }

    &-all {
      font-size: 13px;
      font-weight: 700;
      line-height: 18px; /* 138.462% */
      color: $aqua-500;
    }
  }
}
