.product {
  &-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @include media(xl) {
      gap: 30px;
    }

    @include media(md) {
      flex-direction: column;
      gap: 16px;
    }
  }

  &-main {
    padding: 36px;
    border-radius: 36px;
    background-color: $white;
    width: 100%;

    @include media(lg) {
      padding: 24px;
    }

    @include media(sm) {
      border-radius: 24px;
    }

    @include media(sm-575) {
      padding: 24px 12px;
    }

    @include media(xs) {
      padding: 16px;
    }
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 1.29;

    @include media(md) {
      font-size: 28px;
    }

    @include media(sm) {
      font-size: 24px;
    }
  }

  &__desc {
    line-height: 1.62;
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid $border-2;

    @include media(sm) {
      margin-top: 16px;
      padding-top: 16px;
    }

    p + p {
      margin-top: 16px;
    }

    ul + p {
      margin-top: 16px;
    }

    ul {
      li {
        padding-left: 24px;
        position: relative;
        font-size: 16px;
        line-height: 1.62;

        &::before {
          position: absolute;
          content: "";
          width: 4px;
          height: 4px;
          display: block;
          border-radius: 50%;
          background-color: #14213f;
          left: 6px;
          top: 10px;
        }
      }
    }
  }

  &-asside {
    max-width: 416px;
    width: 100%;
    border-radius: 36px;
    background-color: $white;
    padding: 30px;
    flex-shrink: 0;

    @include media(xl) {
      padding: 24px;
      max-width: 350px;
    }

    @include media(lg) {
      padding: 20px;
    }

    @include media(md) {
      max-width: 100%;
      padding: 30px 30px 40px;
    }

    @include media(sm) {
      padding: 24px;
      border-radius: 24px;
    }

    @include media(sm-575) {
      padding: 24px 16px;
    }
  }

  &__status {
    font-size: 10px;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 6px;
    color: $aqua-500;
    border: 1px solid $aqua-500;
    border-radius: 6px;

    &.is-green {
      color: $green;
      border-color: $green;
    }

    &.is-red {
      color: $red;
      border-color: $red;
    }
  }

  &__articul {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px; /* 100% */
    color: $grey-700;

    @include media(sm-575) {
      padding: 4px 0;
    }
  }

  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    gap: 16px;
    padding: 1.5px 0;

    @include media(xs) {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      padding: 0;
    }
  }

  &-tarrifs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @include media(lg) {
      grid-template-columns: 1fr;
    }
    
    @include media(md) {
      grid-template-columns: 1fr 1fr;
    }

    @include media(sm-575) {
      grid-template-columns: 1fr;
    }

    &__item {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      align-items: center;
      gap: 8px;
      font-size: 13px;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.26px;
      color: $grey-500;

      @include media(lg) {
        grid-template-columns: 70px 1fr;
      }

      @include media(md) {}

      span {
        font-size: 16px;
        font-weight: 700;
        color: $dark-900;
      }
    }
  }

  &-total {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid $border-2;
  }

  &__box {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
    color: $grey-500;
    padding: 4px 0;
  }

  &-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    @include media(sm-575) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 24px;
    }
  }

  &__price {

    @include media(md) {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-total {
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 1;
    }

    &-one {
      font-size: 14px;
      font-style: normal;
      line-height: 1;
      color: $grey-500;
      margin-top: 8px;
    }
  }

  &__add {
    width: 100%;
    display: block;
    margin-top: 36px;

    .no-added {
      display: block;
    }

    .added {
      display: none;
    }

    &.is-added {
      background-color: $green;
      color: $white;
      
      .no-added {
        display: none;
      }
  
      .added {
        display: block;
      }
    }
  }
}

.similar {
  padding-top: 36px;
  margin-top: 16px;

  &-wrapper {
    border-radius: 36px;
    padding: 24px 36px 36px;
    background-color: $white;

    @include media(lg) {
      padding: 24px;
    }

    @include media(md) {
      padding: 24px 16px;
    }

    @include media(sm) {
      border-radius: 24px;
      padding: 16px;
    }

    @include media(sm-575) {
      padding: 12px;
    }
  }

  &__btn {
    max-width: 240px;
    width: 100%;
    display: block;
    margin: 36px auto 48px;

    @include media(md) {
      margin-top: 24px;
    }
  }
}