footer.footer
    .container 
        .footer__top 
            a(href="#" class="footer__logo") 
                img(src="images/footer-logo.svg" alt="")
                span Надежный поставщик электронных компонентов
            .footer__tel 
                a(href="tel:+79916090002" class="footer__link-tel") 
                    svg 
                        use(xlink:href="images/sprite.svg#tel")
                    span +7 (991) 609-00-02 
                a(href="tel:+79916090005" class="footer__link-tel") 
                    svg 
                        use(xlink:href="images/sprite.svg#tel")
                    span +7 (991) 609-00-05
        .footer__middle 
            .footer__nav
                ul.footer__list
                    li.footer__item
                        a(href="#") Главная
                    li.footer__item
                        a(href="#") Каталог
                    li.footer__item
                        a(href="#") Новости
                    li.footer__item
                        a(href="#") Покупателям
                    li.footer__item
                        a(href="#") О компании
                    li.footer__item
                        a(href="#") Контакты
            .footer__contacts  
                a(href="mailto:info@microin.ru" class="footer__link-mail") 
                    svg 
                        use(xlink:href="images/sprite.svg#mail")
                    span info@microin.ru
                p.footer__address 
                    svg 
                        use(xlink:href="images/sprite.svg#point")
                    span 124460, Москва, г. Зеленоград, к. 1100, этаж 3, помещ. 1, ком. 3, офис 19
                p.footer__chart Пн-Пт с 10:00 до 18:00 Сб, Вс - выходной
        p.footer__copyright 2023. Все права защищены
include modal