header.header  
    .container
        .header__top 
            .header__burger
                div 
                div 
                div 
            a(href="#" class="header__logo")
                img(src="images/logo.svg" alt="logo")
            nav.header__nav.header__nav--hidden
                .header__nav-closed 
                    div 
                    div 
                ul.header__list 
                    li.header__item
                        a(href="#") Главная 
                    li.header__item
                        a(href="#") Новости 
                    li.header__item
                        a(href="#") Покупателям
                    li.header__item
                        a(href="#") О компании 
                    li.header__item
                        a(href="#") Контакты 
                    li.header__item.header__item--search.js-open-modal
                        span(href="#") BOM-поиск 
            .header__contacts 
                a(href="tel:+79918779192" class="header__link")  
                    span +7 (991) 877-91-92
                    .header__link-icon
                        svg 
                            use(xlink:href="images/sprite.svg#tel") 

                a(href="mailto:info@microin.ru" class="header__link") info@microin.ru
                    svg 
                        use(xlink:href="images/sprite.svg#mail") 
        .header__bottom 
            .header__catalog-panel

                button.btn.header__btn 
                    span Каталог продукции
                <input type="text" placeholder="Поиск товара..." class="header__search"> 
            .header__catalog-overlay
            .header__catalog-nav
                .header__catalog-item Микросхемы
                .header__catalog-item Транзисторы
                .header__catalog-item Тиристоры
                .header__catalog-item Диоды и стабилитроны
                .header__catalog-item Оптоэлектронные приборы
                .header__catalog-item Электровакуумные приборы
                .header__catalog-item Конденсаторы
                .header__catalog-item Резисторы
                .header__catalog-item Резонаторы и фильтры
                .header__catalog-item Реле и контакторы
                .header__catalog-item Переключатели
                .header__catalog-item Соединители электрические
                .header__catalog-item Предохранители
                .header__catalog-item Электрические машины
                .header__catalog-item Дроссели и трансформаторы
                .header__catalog-item Установочные изделия
            .header__user-nav 
                button.header__user-btn.header__user-btn--search
                    svg 
                        use(xlink:href="images/sprite.svg#search")
                button.header__user-btn.header__user-btn--basket
                    svg 
                        use(xlink:href="images/sprite.svg#basket")
                button.header__user-btn
                    svg 
                        use(xlink:href="images/sprite.svg#profile")
                button.header__user-btn
                    svg 
                        use(xlink:href="images/sprite.svg#mark")
            .header__search-select 
                <input type="text" placeholder="Поиск товара..." class="header__search"> 
                .header__search-result
                    .header__about-item 
                        p.header__about-item-name Конденсатор Э92 4мкФ 450В 5%
                        p.header__about-item-code Код товара: 2416-7756
                    .header__about-price-wrap
                        p.header__about-price 132 402 498 ₽
                        p.header__about-price-quantity 25,5 ₽/шт.
                .header__search-result
                    .header__about-item 
                        p.header__about-item-name Микросхема KP556PT4A Конденсатор Э92 
                        p.header__about-item-code Код товара: 2416-7756
                    .header__about-price-wrap
                        p.header__about-price 132 402 498 ₽
                        p.header__about-price-quantity 25,5 ₽/шт.
                .header__search-result
                    .header__about-item 
                        p.header__about-item-name Конденсатор Э92 4мкФ 450В 5%
                        p.header__about-item-code Код товара: 2416-7756
                    .header__about-price-wrap
                        p.header__about-price 132 402 498 ₽
                        p.header__about-price-quantity 25,5 ₽/шт.
                .header__search-result
                    .header__about-item 
                        p.header__about-item-name Конденсатор Э92 4мкФ 450В 5%
                        p.header__about-item-code Код товара: 2416-7756
                    .header__about-price-wrap
                        p.header__about-price 132 402 498 ₽
                        p.header__about-price-quantity 25,5 ₽/шт. 





