doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/swiper.min.css")
        link(rel="stylesheet" href="css/jquery.fancybox.css")
        link(href="css/main.css" rel="stylesheet")
        title Каталог
    body
        include mixins/_mixins
        include components/header
        main
          +breadcrumbs(['Новости'])
          .article 
            .container 
              .article-main 
                .article__date 12.08.2023
                h1 1.54” 128x64 COG OLED-дисплейный графический модуль
                p Наша компания работает только с юридическими лицами и только по безналичному расчету. Оплата производится по выставленному счету и является соглашением с условиями поставки. По всем вопросам (ценам, срокам и т.д.) просьба связаться с менеджером или отправить сообщение на адрес электронной почты: 
                  a(href="mailto:info@microin.ru")  info@microin.ru
                  |.
                img(src="images/article.png", alt="")
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                h2 H2 - ДОСТАВКА ДО ТЕРМИНАЛА ТРАНСПОРТНОЙ КОМПАНИИ «ДЕЛОВЫЕ ЛИНИИ»
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                p Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                h3 h3 - ВАША ТРАНСПОРТНАЯ КОМПАНИЯ
                p Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес:
                ol 
                  li оплату доставки осуществляет заказчик при получении заказа;
                  li доставка до терминала бесплатная;
                  li оплату доставки осуществляет заказчик при получении заказа;
                  li доставка до терминала бесплатная.
                p Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                h4 h4 - Для получения товара необходимо иметь при себе:
                ul 
                  li оплату доставки осуществляет заказчик при получении заказа;
                  li доставка до терминала бесплатная;
                  li оплату доставки осуществляет заказчик при получении заказа;
                  li доставка до терминала бесплатная.
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                h5 h5 - Описание товара. Heading Описание товара смешение нетбола, водного поло, лакроса и регби.  Описание товара.
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
                h6 h6 - Описание товара. Описание товара. Heading Описание товара смешение нетбола, водного поло, лакроса и регби.  Описание товара.
                p Вы можете вызвать к нам любую удобную для Вас транспортную компанию. Для забора груза Вам необходимо будет предупредить менеджера о дате забора груза и предоставить информацию о транспортной компании, после этого менеджер вышлет вам точный адрес.
              .article-others 
                .article-others__title Последние новости
                .article-others__list 
                  .article-item 
                    .article-item__date 12.08.2023
                    .article-item__title Соблюдение сроков поставкии заголовок новости 
                    .article-item__text Поставка оборудования производится точно в сроки, согласованные с заказчиком
                    .article-item__icon
                      +svgSprite(14, 14, 'arrow-right')
                  .article-item 
                    .article-item__date 12.08.2023
                    .article-item__title Соблюдение сроков поставкии заголовок новости 
                    .article-item__text Поставка оборудования производится точно в сроки, согласованные с заказчиком
                    .article-item__icon
                      +svgSprite(14, 14, 'arrow-right')
                  .article-item 
                    .article-item__date 12.08.2023
                    .article-item__title Соблюдение сроков поставкии заголовок новости 
                    .article-item__text Поставка оборудования производится точно в сроки, согласованные с заказчиком
                    .article-item__icon
                      +svgSprite(14, 14, 'arrow-right')


        include components/footer
        include includes/scripts
