doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/swiper.min.css")
    link(rel="stylesheet" href="css/jquery.fancybox.css")
    link(href="css/main.css" rel="stylesheet")
    title Главная
  body

    main
      .container
        ul 
          li 
            a(href="main.html") Главная 
          li 
            a(href="company.html") О компании 
          li 
            a(href="catalog.html") Каталог
          li 
            a(href="product.html") Карточка товара
          li 
            a(href="basket.html") Корзина
          li 
            a(href="basket-empty.html") Корзина пустая
          li 
            a(href="favorites.html") Избранное
          li 
            a(href="search-result.html") Результаты поиска
          li 
            a(href="cabinet.html") Кабинет
          li 
            a(href="orderlist.html") Список заказов
          li 
            a(href="favorites.html") Избранное
          li 
            a(href="buyers.html") Покупателям
          li 
            a(href="news.html") Список новостей
          li 
            a(href="article.html") Статья (конечная)
          li 
            a(href="contacts.html") Контакты
          li 
            a(href="404.html") 404
            
