doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/swiper.min.css")
        link(rel="stylesheet" href="css/jquery.fancybox.css")
        link(href="css/main.css" rel="stylesheet")
        title Каталог
    body
        include mixins/_mixins
        include components/header
        main
          +breadcrumbs(['Новости'])
          .news
            .container 
              .news-content
                .news-head 
                  h1.news__title Новости
                  .news__all 12 334 товаров
                include includes/news-list
                .news-pagination.pagination   
                  button.pagination__prev(disabled) 
                    span Назад
                    +svgSprite(16, 16, 'arrow')
                  button.pagination__item.is-active 1
                  button.pagination__item 2
                  button.pagination__item 3
                  button.pagination__item ...
                  button.pagination__item 5
                  button.pagination__next 
                    span Вперед
                    +svgSprite(16, 16, 'arrow')

        include components/footer
        include includes/scripts
