//Global
$font-main: "Gilroy", sans-serif;
$font-size: 16px;
$transition: 0.3s ease-in-out;
$line-height: normal;

//Color
$white: #ffffff;
$black: #0b0c0d;
$dark: #242933;
$dark-900: #15181f;
$light: #fbfbfc;
$primary: #1b2e59;
$blue: #1e3362;
$blue-600: #314a80;
$blue-650: #22386d;
$blue-800: #1d234e;
$secondary: #14213f;
$text: #475166;
$grey: #fbfcfc;
$gray-100: #f8f8fa;
$gray-300: #BBC2D1;
$grey-350: #99A4BA;
$grey-700: #353d4c;
$grey-500: #6b7a99;
$gray-550: #767a85;
$grey-800: #242933;
$light-grey: #dde1e8;
$dark-grey: #5a5f6d;
$graphite-gray: #f2f2f5;
$graphite-gray-300: #E2E3E7;
$graphite-gray-450: #ABAEB6;
$graphite-gray-600: #5A5F6D;
$graphite-gray-650: #4B4F5B;
$graphite-gray-750: #353A40;
$border: #23272b;
$border-2: #ecedf0;
$main-bg: #e2e3e7;
$midnight-blue: #f9fafd;
$midnight-blue-350: #C3CEEC;
$midnight-blue-850: #14213F;
$blue-850: #2E2C75;
$aqua-50: #edf7ff;
$aqua-100: #d9f0fc;
$aqua-200: #b7e3fa;
$aqua-300: #83cef6;
$aqua-400: #45b6f2;
$aqua-500: #1ea0e6;
$aqua-600: #0f91d7;
$red: #f0412d;
$yellow: #FFD029;
$green: #0CAC1C;

// Z-index
$z-index-header: 100;
$z-index-menu: 200;
$z-index-dropdown: 300;
$z-index-modal: 1000;
